I want to be able to place towers.
	e.g. Paths can cross
I want to be able to palce multiple types of towers
	e.g. AOE, slow, fast attack, high damage, etc
I want to see increasing difficulty.
I want to see multiple waves.
I want to have an upgrade system.